@import "octicon-mixins";

iframe
{
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: 100%;
    width: 100%;

    border: 0 solid transparent;
    outline: none;
}
